/* Global Styles */
* {
  color: #EE7C58;
  font-family:'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header-style {
  background-color: #1794A0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200%;
  margin: 0;
  text-align: center;
  width: 100%;
}

h1 {
  color: white;
  margin: 0;
  padding: 1em 0;
  text-shadow: 5px 3px #E2B76B;
}

h3 {
  font-size: 2.6em;
  margin-bottom: 15px;
}

main {
  display: flex;
  padding: 20px;
}

/* Column Styles */
.body-column {
  width: 28%;
}

.column2 {
  width: 44%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.column3 {
  text-align: center;
  padding-left: 30px;
}

/* Buttons */
.outfits-list .button-style {
  background-color: white;
  background-color: #F7E3DA;
  border: 0;
  color: #1794A0;
  font-size: 1.7em;
  height: 3em;
  line-height: 2em;
  margin-bottom: 1.5em;
  padding-left: 25px;
  position: relative;
  text-align: left;
  width: 100%;
}

.button-style {
  background-color: white;
  border: 2px solid #1794A0;
  border-radius: 5px;
  color: #1794A0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  height: 35px;
  line-height: 26px;
  margin-bottom: 10px;
  margin-right: 5px;
  outline: none;
  padding: 5px 20px;
}

.button-style:hover {
  background-color: #1794A0;
  border: 2px solid #1794A0;
  color: white;
  opacity: .7;
  cursor: pointer;
}

.active {
  background-color: #1794A0;
  border: 2px solid #1794A0;
  color: white;
}

.button-style.active:hover {
  opacity: 1;
}

/* Bear */
.bear-body {
  width: 90%;
  margin-top: 20%;
}

.bear-container {
  position: relative;
  width: 550px;
}

/* Form Styles */
.save-outfit {
  text-align: center;
}

.save-outfit input {
  display: block;
  font-size: 1.3em;
  height: 30px;
  margin: 0 auto 1em;
  padding: 5px;
  width: 75%;
}

/* Outfits Column */
.outfits-list img {
  max-width: 16px;
  position: absolute;
  right: 25px;
  top: calc(50% - 8px);
}

/* Garments */
.garment {
  visibility: hidden;
}

/* Hats */
.top-hat {
  position: absolute;
  z-index: 1;
  width: 24%;
  height: auto;
  top: 15.5%;
  left: 41%;
  transform: rotate(15deg);
}

.sun-hat {
  position: absolute;
  z-index: 2;
  width: 42%;
  height: auto;
  top: 8.5%;
  left: 31%;
  transform: rotate(-9deg);
}

.bow-hat {
  position: absolute;
  z-index: 3;
  width: 26%;
  height: auto;
  top: 17.5%;
  left: 29%;
}

.crown-hat {
  position: absolute;
  z-index: 4;
  width: 27%;
  height: auto;
  top: 14.5%;
  left: 39%;
  transform: rotate(13deg);
}

.spacehelmet-hat {
  position: absolute;
  z-index: 5;
  width: 52%;
  height: auto;
  top: 9.5%;
  left: 23%;
  transform: rotate(9deg);
}

/* Clothes */
.dress-clothes {
  position: absolute;
  z-index: 6;
  width: 79%;
  height: auto;
  top: 22.5%;
  left: 4%;
  transform: rotate(6deg);
}

.vest-clothes {
  position: absolute;
  z-index: 7;
  width: 86%;
  height: auto;
  top: 20.5%;
  left: 2%;
}

/* Accessories */
.necklace-accessories {
  position: absolute;
  z-index: 8;
  width: 25%;
  height: auto;
  top: 51.6%;
  left: 30%;
  transform: rotate(10deg);
}

.bowtie-accessories {
  position: absolute;
  z-index: 9;
  width: 20%;
  height: auto;
  top: 49.5%;
  left: 33%;
  transform: rotate(10deg);
}

.watch-accessories {
  position: absolute;
  z-index: 10;
  width: 11%;
  height: auto;
  top: 44.5%;
  left: 14%;
  transform: rotate(70deg);
}

.sunglasses-accessories {
  position: absolute;
  z-index: 11;
  width: 24%;
  height: auto;
  top: 36.5%;
  left: 35%;
  transform: rotate(10deg);
}

/* create fixed width for container (eventually create break points to scale up/down) */
